.profile__info {
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-template-areas:
    "name edit-button"
    "description description";
  width: 336px;
  gap: 8px 16px;
  align-items: baseline;
  color: var(--color-white);
}

@media screen and (max-width: 620px) {
  .profile__info {
    grid-template-columns: 1fr minmax(min-content, max-content);
    width: 282px;
    gap: 6px 8px;
  }
}
