.profile__description {
  grid-area: description;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 620px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0 19px;
  }
}
