.popup__submit-button {
  font-size: 18px;
  line-height: 22px;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 2px;
  padding: 14px 0;
  border: 0;
  outline: none;
  margin-top: 24px;
  min-width: 100%;
}

@media screen and (max-width: 620px) {
  .popup__submit-button {
    font-size: 14px;
    line-height: 17px;
  }
}
